.blog-form {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
}

.blog_list {
    margin: 20px;
    padding: 5%;

}

.blog_item {
    width: 80%;
    min-height: 7cm;
    margin: 10px;
    margin-top: 5px;
    padding: 4%;
    border:  solid rgb(87, 108, 213);
    border-radius: 15px;
    background-color: rgb(231, 244, 242);
}
.title {
    margin-top: 1px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-family:Georgia, 'Times New Roman', Times, serif;
}